<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Christmas With MT</name>

    <description>
       Enjoy Christmas with MT. 
    </description>

    <author href="http://www.chi7as.com" email="info@eliechiha.com">
        Elie Chiha 
    </author>

</widget>
